@import "mapbox-gl/dist/mapbox-gl.css";
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

/* Custom Scrollbar for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* Light grey track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Grey scrollbar handle */
  border-radius: 10px;
  border: 2px solid #e5e7eb; /* Adds a light grey border for a classy look */
}

/* Apply the custom cursor globally for the entire app */
body,
html {
  cursor: url("./assets/MemoryMap/Arrow.svg"), auto; /* Replace with your custom cursor */
}

/* For markers or any specific elements (if needed) */
.custom-marker {
  cursor: url("./assets/MemoryMap/Arrow.svg"), auto; /* Replace with your custom cursor */
}

/* Optionally for other specific elements like buttons or links */
button,
a {
  cursor: url("./assets/MemoryMap/Arrow.svg"), auto; /* Replace with your custom cursor */
}
